*{
	padding: 0px;
	margin: 0px;
}
html,body{
	padding: 0px;
	margin: 0px;
}
li{
	display: none;
}
.fleft{
	float: left;
}
.fright{
	float: right;
}
.bs{
	margin-top: 5px;
	box-shadow: 2px 1px 4px 3px #f1f1f1;
}
.pad5{
	padding-top: 5px;
}
.padt10{
	padding-top: 10px;
}
.container{
	

}
.logo{
	text-align: right;
	padding-top: 5px;
}
.icon{
	width: 12px;
	height: auto;
}
.wrap{
	width: 90%;
	margin: 18px auto;	
	position: relative;
	overflow: hidden;
}
.content{
	width: calc(100% - 418px);
	float: left;
	height: 500px;
}
header{
	padding-bottom: 18px;
}
.resume{
	width: 174px;
	height: 500px;
	float: left;
}
.aside{
	width: 244px;
	height: 500px;
	float: right;
}
.menu{
	height: 500px;
	width: 95px;
	position: absolute;
    left: -42px;
    top: 0;
}
.clear{
	clear: both;
	width: 100%;
	overflow: hidden;
}
.first{
	width: calc(100% - 324px);
	display: inline-block;
	padding-left: 5em;
}
.first span{
	font-family: arial, sans;
	font-size: 11px;
	color: #7d7d7d;
}
.first span i{
	display: inline-block;
	padding: 5px;
	
}
.btn{
	padding: 7px;
	color: #ffffff;
	border: none;
	border-radius: 5px;
	margin-top: 5px;
}
.btn.green{
	background: #2bc99a;
}
.btn.orange{
	background: #ffb300;
}
.first button{
	margin-left: 10px;
}
.btn i{
	padding-right: 5px;
}
.second{
	width: 244px;
	height: 15px;
	float: right;
	display: inline-block;
	height: auto;
}
.second .notif{
	padding: 0 10px;
	position: relative
}
.notif span{
	position: absolute;
	right: 6px;
	display: inline-block;
	background: #ffb300;
	width: 12px;
	height: 12px;
	border-radius: 12px;
	color: #ffffff;
	text-align: center;

}
.second .notif i{
	color: #7d7d7d;
	background: none;
	font-size: 16px
}
.second p{
	height: auto;
	font-size: 10px;
}

.second .mini{
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	background: gray;
	margin-right: 5px;
	margin-left: 5px;
	vertical-align: middle;
}
.second .strong{
	display: inline-block;
	vertical-align: middle;
}
