*{
	padding: 0px;
	margin: 0px;
}
html,body{
	padding: 0px;
	margin: 0px;
}
body{

}
li{
	/*display: none;*/
	list-style: none;
}
a{
	text-decoration: none;
}
.fleft{
	float: left;
}
.fright{
	float: right;
}
.padr10{
	padding-right: 15px;
}
.bs{
	margin-top: 5px;
	box-shadow: 2px 1px 4px 3px #f1f1f1;
}
.padt5{
	padding-top: 5px;
}
.pad5{
	padding: 5px;
}
.pad13{
	padding: 13px;
}
.padt10{
	padding-top: 10px;
}
.mar10{
	margin-bottom: 10px;
}
.display{
	display: inline-block;
}
.noborder{
	border: none !important;
}
.underline{
	border: none;
	border-bottom: 1px solid;
	border-color: #9c9c9c;
}
.size12{
	font-size: 12px;
}
select.size12,
input.size12
{
	font-size: 11px;
}

.container{
	
}
.logo{
	text-align: right;
	/*padding-top: 5px;*/
	/*padding-bottom: 18px;*/
	background: #ffffff;

}
.logo h1{
	margin-bottom: 20px;
}
.logo img{
	width: 117px;
	height: auto;
}
.icon{
	width: 12px;
	height: auto;
}
.bground.mod:after{
	background-position: -5px -37px;
}
.bground.offres:after{
	background-position: -5px -75px;
}
.bground.vin:after{
	background-position: -5px -113px;
}
.bground.users:after{
	background-position: -5px -152px;
}
.bground.call:after{
	background-position: -5px -190px;
}
.bground.contrats:after{
	background-position: -5px -229px;
}
.bground.parc:after{
	background-position: -5px -268px;
}
.bground.payd:after{
	background-position: -5px -307px;
}
.bground.advis:after{
	background-position: -5px -347px;
}
.bground.attr:after{
	background-position: -5px -383px;
}
.bground.faq:after{
	background-position: -5px -425px;
}
.bground.stat:after{
	background-position: -5px -462px;
}
.wrap{
	width: 90%;
	margin: 18px auto;	
	position: relative;
	overflow: hidden;
}
.content{	
	width: calc(100% - 504px);
    float: left;
    height: 500px;
    /*background: blue;*/
    padding: 20px;
}
header{
	padding-bottom: 10px;
}
.resume{
	width: 110px;    
    float: left;
    padding-left: 80px;
    /*background: red;*/
    padding-right: 30px;
    padding-top: 22px;
}

.resume h2,
.content h2
{
	font-weight: bold;
	font-family: arial, sans-serif;
	text-transform: uppercase;
	font-size: 14px;
	margin-bottom: 15px;
}
.resume ul li a{
	color: #8e8e8e;
	font-family: arial, sans-serif;
	background: #ffffff;
	padding: 8px;
	display: block;
	margin-bottom: 18px;
	font-size: 12px;
	text-align: center;

}
.cols{
	display: inline-block;
	padding-left: 18px;
}
.aside{
	width: 244px;
	height: 500px;
	float: right;
	background: yellow;
}
.menu{	
	width: 160px;
	position: absolute;
    left: -119px;
    top: 0;
    background: #4fdea0;
    transition: 500ms ease-in-out;
}
.menu:hover{
	left: 0px;
	transition: 500ms ease-in-out;
}
.wrap .menu li{
	width: 95px;
	/*height: 48px;*/
	/*background: brown;*/
	padding-right: 10px;
    text-align: right;
    padding-bottom: 21px;
}
.wrap .menu li a{
	display: inline-block;
	width: 95px;
	color: #ffffff;
	font-size: 12px;
	font-family: arial, sans-serif;
}
.wrap .menu li a:after{
	content: "";
	width: 25px;
	height: 25px;
	display: inline-block;
	/*border: 1px solid black;	*/
	right: 8px;
    position: absolute;
}

/*.wrap .menu li a.dashboard:after{
	background: url("../images/icons/home-white.png");
	background-size: 25px 25px;
}*/
.clear{
	clear: both;
	width: 100%;
	overflow: hidden;
}
.first{
	width: calc(100% - 324px);
	display: inline-block;
	padding-left: 55px;
}
.first span{
	font-family: arial, sans;
	font-size: 11px;
	color: #9c9c9c;
}
.first span i{
	display: inline-block;
	padding: 5px;
	
}
.btn{
	padding: 7px;
	color: #ffffff;
	border: none;
	border-radius: 5px;
	margin-top: 5px;
}
.btn.green{
	background: #4fdea0;
}
.btn.orange{
	background: #ffb300;
}
.first button{
	margin-left: 10px;
}
.btn i{
	padding-right: 5px;
}
.second{
	width: 244px;
	height: 15px;
	float: right;
	display: inline-block;
	height: auto;
}
.second .notif{
	padding: 0 10px;
	position: relative
}
.notif span{
	position: absolute;
	right: 6px;
	display: inline-block;
	background: #ffb300;
	width: 12px;
	height: 12px;
	border-radius: 12px;
	color: #ffffff;
	text-align: center;

}
.second .notif i{
	color: #7d7d7d;
	background: none;
	font-size: 16px
}
.second p{
	height: auto;
	font-size: 10px;
}

.second .mini{
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	background: gray;
	margin-right: 5px;
	margin-left: 5px;
	vertical-align: middle;
}
.second .strong{
	display: inline-block;
	vertical-align: middle;
}
.link{

}
.link li a{
	color: #8e8e8e;
	text-transform: uppercase;
	font-family: arial, sans-serif;
	font-size: 12px;
}
.form-info{
	padding: 13px;
}
.field{
	width: 24%;
    display: inline-block;
}

.field input[type="text"]{
	width: 82%;
    padding: 3px;
}
.bground:after{
	background: url("../images/icons/sprite.jpg") no-repeat;
	background-position: -5px 0px;
}
.users .content{
	width: 94%;
    float: left;
    /*height: 500px;    */
    padding-top: 15px;
    padding-left: 56px;
}
.users .content .title{
	/*width: 100%;*/
}
.users .content .col-list{
	width: 8%;
    padding: 5px;
    border: 1px solid black;
    display: inline-block;
    text-align: left;
}
.listdata{
	border: 1px solid black;
    padding: 0px;
    width: 102px;
    display: inline-block;
    text-align: left;
}
.listdata:last-child{
	width: 55px;
}
.listdata p {
    font-size: 12px;
}
.filter input,
.filter select,
.filter label
{
	color: #9c9c9c;
}
.filter input.underline{
	width: 84px;
}